In [1]:
# Importing Libraries
import selenium
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
import requests
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chromium import service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
# connecting to web drivers and open url
service = Service(r'C:\Users\Nirav\chromedriver_win32\chromedriver.exe')
service.start()

driver = webdriver.Remote(service.service_url)

keyword ='https://www.amazon.in/'
driver.get(keyword)

In [32]:
#searching for "smartphones"
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("smartphones")
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [33]:
#empty list to store all URLs of smartphones
product_url1 =[]

In [34]:
product_url_tag1 = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")

In [35]:
# url of smartphones are appended to the the list
for u in product_url_tag1:
 try: 
     product_url1.append(u.get_attribute("href"))
 except:
    product_url1.append('-')

In [36]:
# an empty list to store all the urls of comment pages
rate_url1 = []

In [37]:

#collects all the urls of 1 star - 5 star comment pages.

for i in product_url1:
    driver.get(i)
    time.sleep(3)
    try:
        url_tag5 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 5star']")
        rate_url1.append(url_tag5.get_attribute("href"))
    except:
        pass
    try:
        url_tag4 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 4star']")
        rate_url1.append(url_tag4.get_attribute("href"))
    except:
        pass
    try:
        url_tag3 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 3star']")
        rate_url1.append(url_tag3.get_attribute("href"))
    except:
        pass
    try:
        url_tag2 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 2star']")
        rate_url1.append(url_tag2.get_attribute("href"))
    except:
        pass
    try:
        url_tag1 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 1star']")
        rate_url1.append(url_tag1.get_attribute("href"))
    except:
        pass

In [38]:
cmt1 = [] #empty list to store all comments
rate1 = [] #empty list to store all the ratings

In [39]:
#to get comments and ratings on 10 pages 
for i in rate_url1:
    driver.get(i)
    for x in range(0,11):
        time.sleep(3)
        comment_tag1 = driver.find_elements(By.XPATH,"//span[@class='a-size-base review-text review-text-content']")
        rate_tag1 = driver.find_elements(By.XPATH,"//a[contains(@href,'/gp/customer-reviews/')]/i/span[1]")
        for k in comment_tag1:
            try:
                cmt1.append(k.text.replace("\n"," "))
            except:
                cmt1.append("-")
        for r in rate_tag1:
            try:
                rate1.append(r.get_attribute("innerHTML"))
            except:
                rate1.append("-")
        try:
            nxtbtn = driver.find_element(By.XPATH,"//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click()
        except:
            pass
        #nxtbtn.click()

In [40]:
#to remove the "out of 5 stars" text and stores only the numbers in the Rate list
Rate1=[]
for r in rate1:
    Rate1.append(r.replace(' out of 5 stars',''))

In [42]:
len(Rate1)

10712

In [43]:
len(cmt1)

10828

In [49]:
#creating a dataframe to store the comments and ratings
ratings_df1 = {'Comment':cmt1[:10712],'Rating':Rate1}

Rate_df1  = pd.DataFrame(ratings_df1)

In [50]:

Rate_df1

                                                 Comment Rating
0      Just unboxed the phone. Seems to be a better o...    5.0
1      This is perfect phone, good speed, decent spec...    5.0
2      A very satisfying experience with the device s...    5.0
3      It's a real monster. Everything is awesome fro...    5.0
4      I am using this phone for the last one week an...    5.0
...                                                  ...    ...
10707  I was purchase mobile after 15days my mobile s...    1.0
10708  The main thing I hate about this phone is Came...    1.0
10709  Not much liked it. 4k is not available. HDR no...    1.0
10710  Headphone jack is not working properly.some ti...    1.0
10711  Camera 108 jitna kam nahi krta, mobile rutine ...    1.0

[10712 rows x 2 columns]

In [51]:
# saving the data in excel file
Rate_df1.to_excel('smartphones1.xlsx')

In [19]:
#searching for "laptops"
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("laptops")
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [20]:
#empty list to store all URLs of laptops
product_url =[]

In [21]:
product_url_tag = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")

In [22]:
# url of laptops are appended to the the list
for u in product_url_tag:
 try: 
     product_url.append(u.get_attribute("href"))
 except:
    product_url.append('-')

In [23]:
# an empty list to store all the urls of the comment pages
rate_url = []

In [24]:
#collects all the urls of 1 star - 5 star comment pages.

for i in product_url:
    driver.get(i)
    time.sleep(3)
    try:
        url_tag5 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 5star']")
        rate_url.append(url_tag5.get_attribute("href"))
    except:
        pass
    try:
        url_tag4 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 4star']")
        rate_url.append(url_tag4.get_attribute("href"))
    except:
        pass
    try:
        url_tag3 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 3star']")
        rate_url.append(url_tag3.get_attribute("href"))
    except:
        pass
    try:
        url_tag2 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 2star']")
        rate_url.append(url_tag2.get_attribute("href"))
    except:
        pass
    try:
        url_tag1 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 1star']")
        rate_url.append(url_tag1.get_attribute("href"))
    except:
        pass

In [25]:

cmt = [] #empty list to store all comments
rate = [] #empty list to store all the ratings

In [26]:
# to get comments and ratings on 10 pages
for i in rate_url:
    driver.get(i)
    for x in range(0,11):
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//span[@class='a-size-base review-text review-text-content']")
        rate_tag = driver.find_elements(By.XPATH,"//a[contains(@href,'/gp/customer-reviews/')]/i/span[1]")
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.get_attribute("innerHTML"))
            except:
                rate.append("-")
        try:
            nxtbtn = driver.find_element(By.XPATH,"//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click()
        except:
            pass
        #nxtbtn.click()

In [27]:
# to remove the "out of 5 stars" text and stores only the numbers in the Rate list
Rate=[]
for r in rate:
    Rate.append(r.replace(' out of 5 stars',''))

In [28]:
len(Rate)

6790

In [29]:
len(cmt)

6790

In [53]:
#creating a dataframe to store the comments and ratings
ratings_df = {'Comment':cmt,'Rating':Rate}

Rate_df2  = pd.DataFrame(ratings_df)

In [54]:

Rate_df2

                                                Comment Rating
0     Best budget laptop if you are looking for inte...    5.0
1     Its been 10 days since I bought this laptop, i...    5.0
2       Best in class with configuration and durability    5.0
3     Pro's Handy,FAST,superb HD quality, Con's Only...    5.0
4     Great product I recommend it if you r using fo...    5.0
...                                                 ...    ...
6785                             Go for something else.    1.0
6786  Play Video  I bought the laptop as soon as it ...    1.0
6787  Please don't buy this company No service prope...    1.0
6788  This is the worst laptop i ever use . It is to...    1.0
6789                                                       1.0

[6790 rows x 2 columns]

In [55]:
# saving the data in excel file
Rate_df2.to_excel('laptops1.xlsx')

In [56]:
driver.close()

In [59]:
# connecting to web drivers and open url
service = Service(r'C:\Users\Nirav\chromedriver_win32\chromedriver.exe')
service.start()

driver = webdriver.Remote(service.service_url)

keyword ='https://www.flipkart.com/'
driver.get(keyword)

In [62]:

#searching for "Smart watches"
search = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('Smart watches')
searchbtn = driver.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [63]:
#empty list to store all URLs of smartwatches 
product_url = []

In [64]:
# url of each smartwatch is appended to the the list
url_tag = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
for u in url_tag:
     product_url.append(u.get_attribute("href"))

In [65]:
revurl=[] # an empty list to store all the urls of the review section of the products

In [66]:
# url of review section of each product is appended to the the list
for i in product_url:
    driver.get(i)
    time.sleep(1)
    try:
        rev_tag = driver.find_element(By.XPATH,"//*[@class='col JOpGWq']/a")
        revurl.append(rev_tag.get_attribute("href"))
    except:
        pass

In [67]:
cmt = [] # an empty list to store all of the comment
rate = [] # an empty list to store all the ratings
revpgurl=[] # an empty list to store all the urls of the pages containing reviews

In [68]:

#the url of each comment page is appended to the the list
for i in revurl:
    driver.get(i)
    time.sleep(2)
    
              
    revpg=driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
    for n in revpg:
        revpgurl.append(n.get_attribute("href"))

In [69]:

#all the comments and ratings are collected
for j in revpgurl:
        driver.get(j)
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div")
        rate_tag = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.text)
            except:
                rate.append("-")

In [70]:
len(cmt)

744

In [71]:
len(rate)

510

In [72]:

ratingsdf3 = {'Comment':cmt[0:510],'Rating':rate}

Rate_df3  = pd.DataFrame(ratingsdf3) #creating dataframe of reviews and ratings

In [73]:
Rate_df3

                                               Comment Rating
0                                               Good üëç      4
1                             GOOD QUALITY SMART WATCH      5
2                                              Average      5
3    Very very bad product ,watch battery life is v...      5
4    Watch look look is really amazing worth of mon...      5
..                                                 ...    ...
505  worth buying it.... got it for rs 20k and 100%...      5
506  It‚Äôs amazing and great innovation by apple. To...      5
507  Good watch..but after purchased I regret that ...      5
508  Awesome in every way no need to go for series ...      5
509  The best in class smart watch that I have seen...      4

[510 rows x 2 columns]

In [74]:
# saving the data in excel file
Rate_df3.to_excel('smart_watches1.xlsx')

In [75]:
#searching for "Smart tv"
search = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('Smart tv')
searchbtn = driver.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [76]:
#empty list to store all URLs of smartphone products
product_url = []

In [77]:
# url of each smartphone is appended to the the list
url_tag = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
for u in url_tag:
     product_url.append(u.get_attribute("href"))

In [78]:
revurl=[] # an empty list to store all the urls of the review section of the products

In [79]:
#to get url of review section of each product is appended to the the list
for i in product_url:
    driver.get(i)
    time.sleep(1)
    try:
        rev_tag = driver.find_element(By.XPATH,"//*[@class='col JOpGWq']/a")
        revurl.append(rev_tag.get_attribute("href"))
    except:
        pass

In [80]:

cmt = [] # an empty list to store all of the comment
rate = [] # an empty list to store all the ratings
revpgurl=[] # an empty list to store all the urls of the pages containing reviews

In [81]:

#to get url of each comment page is appended to the the list
for i in revurl:
    driver.get(i)
    time.sleep(2)
    
              
    revpg=driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
    for n in revpg:
        revpgurl.append(n.get_attribute("href"))

In [82]:
#all the comments and ratings are collected
for j in revpgurl:
        driver.get(j)
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div")
        rate_tag = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.text)
            except:
                rate.append("-")

In [83]:
len(cmt)

1896

In [84]:
len(rate)

1695

In [85]:
ratingsdf4 = {'Comment':cmt[0:1695],'Rating':rate}

Rate_df4  = pd.DataFrame(ratingsdf4) #creating dataframe of reviews and ratings

In [86]:
Rate_df4

                                                Comment Rating
0     Really good product. value for money. Smart TV...      5
1     wonderful product with the less price range. p...      5
2     PRO is better than previous version. It runs o...      5
3     Listen Up, I am writing this review after 5 da...      4
4     first time i was confused that mi tv quality i...      5
...                                                 ...    ...
1690  Best product full HD video . really it's excel...      4
1691  It's a very good product. I loved your product...      5
1692  After 20 days, I write my review of TV, Its ex...      4
1693  Delivered with 24 hrs of booking. Excellent pa...      5
1694  I suggest for buy it's super clearity ... Best...      5

[1695 rows x 2 columns]

In [87]:
# saving the data in excel file
Rate_df4.to_excel('smart_tv1.xlsx')

In [88]:
# to concate all scarpped data as single data set
df = pd.concat([Rate_df1,Rate_df2,Rate_df3,Rate_df4],ignore_index=True)

In [89]:
df

                                                 Comment Rating
0      Just unboxed the phone. Seems to be a better o...    5.0
1      This is perfect phone, good speed, decent spec...    5.0
2      A very satisfying experience with the device s...    5.0
3      It's a real monster. Everything is awesome fro...    5.0
4      I am using this phone for the last one week an...    5.0
...                                                  ...    ...
19702  Best product full HD video . really it's excel...      4
19703  It's a very good product. I loved your product...      5
19704  After 20 days, I write my review of TV, Its ex...      4
19705  Delivered with 24 hrs of booking. Excellent pa...      5
19706  I suggest for buy it's super clearity ... Best...      5

[19707 rows x 2 columns]

In [90]:
# saving the data in excel file
df.to_csv('Ratings.csv')